:root{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 62.5%;
}
*{
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
    border: 1px solid red
}
header{
    height: 10vh !important;
}
main{
    min-height: 85vh !important;
}
footer{
    min-height: 5vh !important;
}
section>img{
    width: 15rem;
    height: 12rem;
}
h1, h2 {
    font-size: medium;
}